
@(Html.Kendo().Grid<DBModel.Model.Owner>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name);
          columns.Bound(c => c.Address);

          columns.Bound(p => p.ID).Title("Details").ClientTemplate("<a class='k-button' href='" + Url.Action("Owner", "VehicleOwner", new { ownerID = "#=ID#" }) + "'>Vehicles</a>").EditorTemplateName("HiddenTemplate").Filterable(false);
      })
      .Sortable(sortable => {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.ID))
          .Read(read => read.Action("Owners_Read", "Owners"))
      )
)

